<div class="container">
  <div class="row">
      <div class="col-md-12 text-danger" >
      <% if @new_book.errors.any? %>
      <ul>
        <h3><%= @new_book.errors.count %>errors prohibited this obj from being saved:</h3>
        <% @new_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
    <%= render 'books/list', new_book: @new_book, user: current_user %>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
            <tr>
            <td><%= attachment_image_tag user, :profile_image, :fill, size:"40x40", format: 'jpeg', fallback: "no_image.jpg" %></td>
            <td><%= user.name %></td>
            <td><%= link_to "Show", user_path(user.id) %></td>
            <% end %>
            </tr>
          </tbody>
          </table>
    </div>
  </div>
</div>