<div class="container">
  <div class="row">

    <%= render 'books/list', new_book: @book, user: @user %>
    <div class="col-md-8 offset-md-1">

      <h2>Books</h2>
     <table class='table table-hover table-inverse'>

   <tr>
     <th></th>
   <th>Title</th>
   <th>Opinion</th>
   <th colspan="3"></th>
   </tr>

   <% @books.each do |book| %>
  <%= link_to user_path(@user.id) do %>
   <tr>
   <td><%= attachment_image_tag book.user, :profile_image, :fill, size:"40x40", fallback: "no_image.jpg",format: 'no_image.jpg' %></td>
   <% end %>
   <td><%=link_to book.title, book_path(book.id)%></td>
   <td><%= book.body %></td>
   </tr>
   <% end %>
   </table>

  </div>
</div>