
<div class="container">
  <div class="row">
    <div class="col-md-12 text-danger" >
      <% if @new_book.errors.any? %>
      <ul>
        <h3><%= @new_book.errors.count %>errors prohibited this obj from being saved:</h3>
        <% @new_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
    <%= render 'books/list', new_book: @new_book, user: @book.user %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
          <tbody>
            <tr>
            <td>
              <%= link_to user_path(@book.user) do %>
              <%= attachment_image_tag @book.user, :profile_image, :fill, size:"40x40", format: 'jpeg', fallback: "no_image.jpg" %>
              <% end %>
              <nav><%= link_to @book.user.name, user_path(@book.user.id)  %></nav>
            </td>

    <td><%= link_to @book.title %></td>
    <td><%= @book.body %></td>
    <% if @book.user_id == current_user.id %>
    <td><%= link_to"Edit", edit_book_path(@book.id),class:"btn-sm btn-success" %></td>
    <td><%= link_to "Destroy", book_path(@book.id), class:"btn-sm btn-danger destroy(@book.id)", method: :delete,data: {confirm: "削除しますか？"} %></td>
    <% end %>
    </tr>
          </tbody>
          </table>
    </div>
  </div>
</div>




